<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcvc.ebuy_springboot.dao.LogOfAdminLoginDao">
	<!--自定义返回的类型-->
	<resultMap id="logOfAdminLogin" type="LogOfAdminLogin">
		<association property="admin" javaType="Admin" column="adminId" select="com.lcvc.ebuy_springboot.dao.AdminDao.get">
		</association>
	</resultMap>

	
	<insert id="save"  useGeneratedKeys="true" keyProperty="id">
	    insert into 
	    log_admin_login(id,adminId,ip,loginResult,loginTime)
	    values(null,#{admin.id},#{ip},#{loginResult},now())
	</insert>

	<delete id="deleteObjects" >
		delete from log_admin_login where 1=0
		<if test="collection != null and collection.size()> 0">
			OR id in
			<foreach item="item" collection="collection" open="(" separator="," close=")">
				#{item.id}
			</foreach>
		</if>
	</delete>



	<select id="total" resultType="int">
       select count(1) from log_admin_login
    </select>

	<!--统一查询的条件，方便用于分页等查询，这里提供给query和querySize调用-->
	<sql id="queryWhere">
		<if test="objectQuery!=null">
			<if test="objectQuery.admin!=null and (objectQuery.admin.username!=null and objectQuery.admin.username.length()>0)">
				left join admin on log_admin_login.adminId =admin.id
			</if>
			<where>
				<if test="objectQuery.admin!=null">
					<if test="objectQuery.admin.id!=null">
						and log_admin_login.adminId=#{objectQuery.admin.id}
					</if>
					<if test="objectQuery.admin.username!=null and objectQuery.admin.username.length()>0">
						<!-- bind，重新定义一个变量，可用于模糊查询等，并且可以直接覆盖原变量 -->
						<bind name="username" value="'%' + _parameter.objectQuery.admin.username + '%'" />
						and admin.username like #{username}
					</if>
				</if>
			</where>
		</if>
	</sql>

	<select id="querySize" resultType="int">
		select count(1) from log_admin_login
		<include refid="queryWhere"></include>
    </select>

	<select id="query" resultMap="logOfAdminLogin">
        select log_admin_login.* from log_admin_login
		<include refid="queryWhere"></include>
		order by log_admin_login.id desc limit #{offset},#{length}
    </select>

	<select id="readAll" resultType="LogOfAdminLogin">
		select log_admin_login.* from log_admin_login
		<include refid="queryWhere"></include>
	</select>

	<select id="getContinuousLoginErrorNumber"  resultType="int">
		select count(1) from log_admin_login
		where adminId=#{adminId} and loginResult=false  and
		loginTime>=IFNULL((
		select loginTime from log_admin_login
		where  adminId=#{adminId} and loginResult=true and to_days(now())=to_days(loginTime)
		ORDER BY loginTime desc limit 0,1
		),str_to_date(DATE_FORMAT(NOW(),'%Y-%m-%d'),'%Y-%m-%d %H:%i:%s'))
	</select>
</mapper>