<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.ebuy_springboot.dao.RolePurviewDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->
    <!--自定义返回的类型-->
   <!-- <resultMap id="adminSearch" type="Admin">
        <collection property="roles" javaType="List" ofType="Admin" >
            <collection property="roles" javaType="List" ofType="Student">
                <result property="name" column="role.name"/>
            </collection>
        </collection>
    </resultMap>-->

    <!--自定义返回的类型-->
    <resultMap id="rolePurview" type="RolePurview">
        <association property="purview" javaType="Purview" column="purviewId" select="com.lcvc.ebuy_springboot.dao.PurviewDao.get">
        </association>
        <association property="role" javaType="Role" column="roleId" select="com.lcvc.ebuy_springboot.dao.RoleDao.get">
        </association>
    </resultMap>

    <select id="get"  resultMap="rolePurview">
        select * from role_purview where id=#{id}
    </select>

    <insert id="save"  useGeneratedKeys="true" keyProperty="id">
          insert into role_purview(id,roleId,purviewId,permissionIds,createTime)
          values(null,#{role.id},#{purview.id},#{permissionIds},#{createTime})
    </insert>

    <update id="update" parameterType="Role">
        update role_purview
        <!--set标签可以剔除末尾的,-->
        <set>
            <if test="permissionIds!=null">permissionIds=#{permissionIds},</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" >
        delete from role_purview where id=#{id}
    </delete>

    <delete id="deletes" >
        delete from role_purview where id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>




    <!--再返回id的时候，要用Integer而不是int，以免找不到对象无法返回空记录信息-->
    <select id="getId" resultType="Integer">
        select id from role_purview where roleId=#{roleId} and purviewId=#{purviewId}
    </select>

    <select id="getRolePurviewByRoleIdAndPurviewId" resultType="RolePurview">
        select * from role_purview where roleId=#{roleId} and purviewId=#{purviewId}
    </select>

    <select id="getRolePurviewNumberByRoleIdAndPurviewId"  resultType="int">
        select count(id) from role_purview where roleId=#{roleId} and purviewId=#{purviewId}
    </select>

    <select id="getRolePurviewsByRoleId"  resultMap="rolePurview">
        select * from role_purview where roleId=#{roleId}
    </select>

    <select id="getRolePurviewNumberByRoleId"  resultType="int">
        select count(id) from role_purview where  roleId=#{roleId}
    </select>

    <select id="getRolePurviewNumberByPurviewId"  resultType="int">
        select count(id) from role_purview where  purviewId=#{purviewId}
    </select>


    <select id="getRolesByPurviewId"  resultType="Role">
        select role.* from role,role_purview where role.id=role_purview.roleId and purviewId=#{purviewId}
    </select>




</mapper>